<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.28.3/dam44_agencia?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">dam44</property>
    <property name="hibernate.connection.password">popeye5</property>
    <mapping resource="pojo/Inmueble.hbm.xml"/>
    <mapping resource="pojo/Agencia.hbm.xml"/>
    <mapping resource="pojo/VentaInmueble.hbm.xml"/>
    <mapping resource="pojo/Vendedor.hbm.xml"/>
    <mapping resource="pojo/Cliente.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
